@font-face {
  font-family: "IBM Plex Sans";
  src: url("../resources/fonts/IBMPlexSans-Medium.ttf") format("truetype");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}
input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select{
  width: 100%;
  padding: 10px;
}
input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: width 0.5s ease, background-color 0.5s ease;
  width: 100%;
}
input[type="submit"]:hover {
  background-color: #218838;
}